<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Tuat.styles.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Radzen.Blazor/css/software.css"]" >
    <link rel="stylesheet" href="@Assets["_content/Blazor.Diagrams/style.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Blazor.Diagrams/default.styles.css"]" />
    <style>
        .default-node {
            width: 200px;
        }
    </style>
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="@Assets["_content/BlazorMonaco/jsInterop.js"]"></script>
    <script src="@Assets["_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"]"></script>
    <script src="@Assets["_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"]"></script>
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["_content/Radzen.Blazor/Radzen.Blazor.js"]"></script>
    <script src="@Assets["_content/Blazor.Diagrams/script.js"]"></script>
    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
        window.navigateToTarget = (url, target) => {
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            if (target != null && target != '') {
                anchorElement.target = target;
            } else {
                anchorElement.download = '';
            }
            anchorElement.click();
            anchorElement.remove();
        }
        window.scriptEditorSetHiddenAreas = (id, ranges) => {
            let editor = window.blazorMonaco.editor.getEditor(id, true);
            editor.setHiddenAreas(ranges, true);
        }
    </script>
</body>

</html>
