@using Blazor.Diagrams;
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets;
@using Blazor.Diagrams.Core.Anchors
@using Blazor.Diagrams.Core.Geometry;
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Core.Models.Base
@using Blazor.Diagrams.Core.PathGenerators;
@using Blazor.Diagrams.Core.Routers;
@using Blazor.Diagrams.Options;
@using Radzen
@using Radzen.Blazor
@using Tuat.Interfaces
@using Tuat.Models
@inject Tuat.Interfaces.IClientService ClientService
@implements IAutomationEditor

@if (ScriptEditorType != null)
{
	<div class="diagram-container" style="width: 100%; height: 70vh; border: 1px solid black; position: relative;" @oncontextmenu="OnContextMenu" @oncontextmenu:preventDefault="true">

		<div style="position: absolute; top: 10px; left: 10px; z-index: 10;" @oncontextmenu:preventDefault="false">
			<RadzenButton Size="ButtonSize.Small" Text="Pre Start Action " Click="EditPreStartActionAsync" />
		</div>

		<div style="position: absolute; top: 10px; right: 10px; z-index: 10;" @oncontextmenu:preventDefault="false">
			@* 			<RadzenUpload Icon="upload" ChooseText="Import" Auto=true Multiple=false Accept="text/json" Change=@(args => OnImport(args)) InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Import" } })" />
 *@			<RadzenButton Size="ButtonSize.Small" Text="+" Click="@(() => Diagram.SetZoom(Diagram.Zoom * 1.25))" />
			<RadzenButton Size="ButtonSize.Small" Text="-" Click="@(() => Diagram.SetZoom(Diagram.Zoom * 0.75))" />
			<RadzenButton Size="ButtonSize.Small" Text="Reset" Click="@(() => Diagram.SetZoom(1.0))" />
			<RadzenButton Size="ButtonSize.Small" Text="Fit" Click="@(() => Diagram.ZoomToFit())" />
		</div>

		<CascadingValue Value="Diagram" IsFixed="true">
			<DiagramCanvas>
				<Widgets>
					<SelectionBoxWidget />
				</Widgets>
			</DiagramCanvas>
		</CascadingValue>
	</div>
}

@code {
	[Parameter]
	public Automation Automation { get; set; } = null!;

	[Parameter]
	public string? Height { get; set; }

	[Parameter]
	public Type? ScriptEditorType { get; set; }

	[Parameter]
	public EventCallback OnRestart { get; set; }

	[Parameter]
	public EventCallback OnSave { get; set; }

	[Parameter]
	public EventCallback OnEditSettings { get; set; }

	private BlazorDiagram Diagram { get; set; } = null!;
	private bool _draggingElement;


	protected override async Task OnInitializedAsync()
	{
		var options = new BlazorDiagramOptions
		{
			AllowMultiSelection = true,
			Zoom =
														{
						Enabled = true
														},
			Links =
														{
						DefaultRouter = new NormalRouter(),
						DefaultPathGenerator = new SmoothPathGenerator(),
						RequireTarget = true,
						Factory = (diagram, source, targetAnchor) =>
						{
							Anchor? source2;
							if (!(source is NodeModel model3))
							{
								if (!(source is PortModel port2))
								{
									throw new NotImplementedException();
								}

								source2 = new SinglePortAnchor(port2);
							}
							else
							{
								source2 = new ShapeIntersectionAnchor(model3);
							}

							var linkModel = new LinkModel(source2, targetAnchor);
							linkModel.TargetMarker = LinkMarker.Arrow;
							linkModel.AddLabel("true");
							_draggingElement = true;
							return linkModel;
						}														
					}
		};
		Diagram = new BlazorDiagram(options);

		await base.OnInitializedAsync();
	}

	public async Task ReloadAutomationAsync(Automation automation)
	{
	}

	async Task EditSettingsAsync()
	{
	}

	void Restart()
	{
		OnRestart.InvokeAsync();
	}

	public Task<string> GetAutomationDataAsync()
	{
		return Task.FromResult(string.Empty);
	}

	async Task SaveAsync()
	{
		await OnSave.InvokeAsync();
	}

	Task EditPreStartActionAsync()
	{
		// SaveAutomationPropertiesToAutomation();
		// var result = await DialogService.ShowDialogAsync<Dialogs.ScriptEditorDialog, string?>("Pre Start Action", dialog =>
		// {
		// 	dialog.Script = AutomationProperties.PreStartAction;
		// 	dialog.SystemScript = EngineScriptBuilder.BuildEngineScriptForEditor(Automation);
		// });
		// if (result != null)
		// {
		// 	AutomationProperties.PreStartAction = result;
		// }
		return Task.CompletedTask;
	}

	void OnContextMenu(MouseEventArgs args)
	{
	}

}

